---
layout: base.njk
---
<article class="page-content">
  <a href="/" class="back-link">&larr; Zurück</a>
  {% if subtitle %}
  <p class="page-subtitle">{{ subtitle }}</p>
  {% endif %}
  <h1 class="page-title">{{ title }}</h1>
  {{ content | safe }}
</article>
